<%= link_to 'Back', videos_path %>

<div class="row">
  <div class="col-md-offset-2 col-md-8">
    <div class="panel panel-default">
      <div class="panel-heading center">
        <video><%= @v.video.url(:medium) %></video>
      </div>
      <div class="panel-body">
        <p><%= @v.description %></p>
        <p><strong><%= @v.user.email if @v.user %></strong></p>

      </div>
    </div>
  </div>
</div>